.v-alert {
    position: relative;
    background: var(--v-theme-surface-2);
}

.v-alert::before {
    content: "";
    width: var(--v-size-8);
    background: var(--v-theme-surface-3);
    height: 100%;
    position: absolute;
    left: var(--v-size-0);
    top: var(--v-size-0);
}

.v-alert__header {
    padding: var(--v-size-16) var(--v-size-16) 0 calc(var(--v-size-16) + var(--v-size-4));
    font-weight: var(--v-font-weight-5);  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.v-alert__body {
    padding: var(--v-size-16) var(--v-size-16) var(--v-size-16) calc(var(--v-size-16) + var(--v-size-4));
}

.v-alert.v-alert--danger::before {
    background: var(--v-red-2);
}

.v-alert--danger {
    background: var(--v-red-1);
}