$start-colors: (
  "white": #ffffff,
  "black": #404040,
  "red": #dd2c00,
  "orange": #ffa55b,
  "yellow": #ffea00,
  "green": #76ff03,
  "cyan": #00e5ff,
  "blue": #2962ff,
  "purple": #ba86d0,
);

:root {
  @each $color, $color-value in $start-colors {
    @for $i from 0 through 4 {
      $step: 10;

      @if $color == "white" or $color == "black" {
        $step: 5;
      }

      $converted: mix(#000, $color-value, $step * $i);
      --v-#{$color}-#{$i+1}: #{$converted};
    }
  }

  --v-theme-text-1: var(--v-black-5);
  --v-theme-text-2: var(--v-black-4);
  --v-theme-primary-1: var(--v-blue-3);
  --v-theme-primary-2: var(--v-blue-4);
  --v-theme-secondary-1: var(--v-white-2);
  --v-theme-secondary-2: var(--v-white-3);
  --v-theme-success-1: var(--v-green-2);
  --v-theme-success-2: var(--v-green-3);
  --v-theme-danger-1: var(--v-red-1);
  --v-theme-danger-2: var(--v-red-2);
  --v-theme-warning-1: var(--v-yellow-1);
  --v-theme-warning-2: var(--v-yellow-2);
  --v-theme-info-1: var(--v-cyan-2);
  --v-theme-info-2: var(--v-cyan-3);
  --v-theme-surface-1: var(--v-white-1);
  --v-theme-surface-2: var(--v-white-2);
  --v-theme-surface-3: var(--v-white-3);
  --v-theme-surface-4: var(--v-white-4);
}

html body {
  color-scheme: light;
}

html[data-theme="dark"] body {
  color-scheme: dark;

  --v-theme-text-1: var(--v-white-2);
  --v-theme-text-2: var(--v-white-3);

  --v-theme-surface-1: var(--v-black-5);
  --v-theme-surface-2: var(--v-black-4);
  --v-theme-surface-3: var(--v-black-3);
  --v-theme-surface-4: var(--v-black-2);
}
