.v-field-date__dialog {
    box-shadow: var(--shadow-3);
    background: var(--v-theme-surface-1);
    border: 0;
    font-size: 14px;

    padding: var(--v-size-8);

    min-width: 320px;
    max-width: 320px;
    max-height: var(--v-size-512);
    overflow: auto;
}

.v-field-date__dialog-container {
    display: grid;
    gap: var(--v-size-8);
}

.v-field-date__calendar-controls {
    display: flex;
    justify-content: space-between;
}

.v-field-date__calendar-table {
    display: grid;
    gap: 4px;
}

.v-field-date__calendar-header {
    display: grid;
}

.v-field-date__calendar-body {
    display: grid;
    gap: 4px;
}

.v-field-date__calendar-table tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
}

.v-field-date__calendar-body [data-form-field-date-action] {
    width: 100%;
    padding: 8px;
    border: 0;
    background: transparent;
}