@import "utils";

.v-code {
    &__btn {
        .v-code__btn-icon {
            &--loading {
                display: none;
            };
            &--success {
                display: none;
            }
        };
    };
    &__btn--loading {
        .v-code__btn-icon {
            display: none;

            &--loading {
                display: block;
            };
        }
    };
    &__btn--success {
        .v-code__btn-icon {
            display: none;

            &--success {
                display: block;
            };
        }
    }
}

.v-code__header {
    background: var(--v-theme-surface-3);
    padding: var(--v-size-16);
    font-weight: var(--v-font-weight-5);  
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.highlight {
    position: relative;
    background: var(--v-theme-surface-2);
    direction: ltr;
}
 
.highlight pre {
    padding: 0;
    margin: 0;
    word-break: normal;
    min-width: 0;
    // white-space: pre-wrap;
    border: 0;
    display: block;
    overflow: auto;
    max-width: 100%;
}

.highlight pre code{
    min-width: 100%;
    float: left;
    padding: var(--v-size-16);
} 

.c {
    color: var(--v-base03)
}

.err {
    color: var(--v-base08)
}

.k {
    color: var(--v-base0E)
}

.l {
    color: var(--v-base09)
}

.n {
    color: var(--v-base08)
}

.o {
    color: var(--v-base05)
}

.p {
    color: var(--v-base05)
}

.cm {
    color: var(--v-base04)
}

.cp {
    color: var(--v-base08)
}

.c1 {
    color: var(--v-base03)
}

.cs {
    color: var(--v-base04)
}

.gd {
    color: var(--v-base08)
}

.ge {
    font-style: italic
}

.gh {
    font-weight: 600;
    color: #fff
}

.gi {
    color: var(--v-bs-success)
}

.gp {
    font-weight: 600;
    color: var(--v-base04)
}

.gs {
    font-weight: 600
}

.gu {
    font-weight: 600;
    color: var(--v-base0C)
}

.kc {
    color: var(--v-base0E)
}

.kd {
    color: var(--v-base0E)
}

.kn {
    color: var(--v-base0C)
}

.kp {
    color: var(--v-base0E)
}

.kr {
    color: var(--v-base0E)
}

.kt {
    color: var(--v-base0A)
}

.ld {
    color: var(--v-base0C)
}

.m {
    color: var(--v-base09)
}

.s {
    color: var(--v-red-2)
}

.na {
    color: var(--v-cyan-2)
}

.nb {
    color: var(--v-base05)
}

.nc {
    color: var(--v-base07)
}

.no {
    color: var(--v-base08)
}

.nd {
    color: var(--v-base07)
}

.ni {
    color: var(--v-base08)
}

.ne {
    color: var(--v-base08)
}

.nf {
    color: var(--v-base0B)
}

.nl {
    color: var(--v-base05)
}

.nn {
    color: var(--v-base0A)
}

.nx {
    color: var(--v-base0A)
}

.py {
    color: var(--v-base08)
}

.nt {
    color: var(--v-blue-3)
}

.nv {
    color: var(--v-base08)
}

.ow {
    color: var(--v-base0C)
}

.w {
    color: #fff
}

.mf {
    color: var(--v-base09)
}

.mh {
    color: var(--v-base09)
}

.mi {
    color: var(--v-base09)
}

.mo {
    color: var(--v-base09)
}

.sb {
    color: var(--v-base0C)
}

.sc {
    color: #fff
}

.sd {
    color: var(--v-base04)
}

.s2 {
    color: var(--v-base0C)
}

.se {
    color: var(--v-base09)
}

.sh {
    color: var(--v-base0C)
}

.si {
    color: var(--v-base09)
}

.sx {
    color: var(--v-base0C)
}

.sr {
    color: var(--v-base0C)
}

.s1 {
    color: var(--v-base0C)
}

.ss {
    color: var(--v-base0C)
}

.bp {
    color: var(--v-base05)
}

.vc {
    color: var(--v-base08)
}

.vg {
    color: var(--v-base08)
}

.vi {
    color: var(--v-base08)
}

.il {
    color: var(--v-base09)
}

.m+.o {
    color: var(--v-base03)
}