.v-code {
    &__btn {
        .v-code__btn-icon {
            &--loading {
                display: none;
            };
            &--success {
                display: none;
            }
        };
    };
    &__btn--loading {
        .v-code__btn-icon {
            display: none;

            &--loading {
                display: block;
            };
        }
    };
    &__btn--success {
        .v-code__btn-icon {
            display: none;

            &--success {
                display: block;
            };
        }
    }
}

.v-code__header {
    background: var(--v-theme-surface-3);
    padding: var(--v-size-16);
    font-weight: var(--v-font-weight-5);  
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.highlight {
    position: relative;
    background: var(--v-theme-surface-2);
    direction: ltr;
}
 
.highlight pre {
    padding: 0;
    margin: 0;
    word-break: normal;
    min-width: 0;
    border: 0;
    display: block;
    overflow: auto;
    max-width: 100%;
}

.highlight pre code{
    min-width: 100%;
    float: left;
    padding: var(--v-size-16);
} 