.v-selectbox {
    &__dialog {
        box-shadow: var(--shadow-3);
        background: var(--v-theme-surface-1);
        border: 0;
        // display: grid;

        padding: var(--v-size-8);
        min-width: var(--v-size-256);
        max-width: var(--v-size-256);
        overflow: auto;
        max-height: var(--v-size-256);
    }

    &__dialog-container {
        display: grid;
        gap: var(--v-size-8);
    }
}