@import "utils";

.v-selectbox {
    &__dialog {
        box-shadow: var(--shadow-3);
        background: var(--#{$prefix}-theme-surface-1);
        border: 0;
        // display: grid;

        padding: var(--#{$prefix}-size-8);
        min-width: var(--#{$prefix}-size-256);
        max-width: var(--#{$prefix}-size-256);
        overflow: auto;
        max-height: var(--#{$prefix}-size-256);
    }

    &__dialog-container {
        display: grid;
        gap: var(--#{$prefix}-size-8);
    }
}