@import "utils";

.v-shell {
    // display: grid;
    min-height: var(--v-size-view-h);
    // grid-template-rows: auto 1fr auto;
}

.v-shell__header {
    padding: var(--v-size-16);
    background-color: var(--v-theme-surface-2);
    display: flex;
    justify-content: space-between;
}

.v-shell__body {
    // display: flex;
    // gap: var(--v-size-64);
    min-height: var(--v-size-view-h);
    padding: var(--v-size-32) 0;
}

@media (min-width: 1200px) {
    .v-shell__body {
        display: flex;
        gap: var(--v-size-64);
        // padding: var(--v-size-32) 0;
    } 
}

#main {
    padding: var(--v-size-16);
}

.v-shell__footer {
    padding: var(--v-size-16);
    background-color: var(--v-theme-surface-2);
    text-align: center;
}