.v-sidebar__list {
    margin-left: 0;
    list-style: none;
    display: grid;
    gap: var(--v-size-16);
}

.v-sidebar {
    display: none;

    border-right: var(--v-size-2) solid var(--v-theme-surface-3);
    padding: var(--v-size-32);
    position: -webkit-sticky;
    position: sticky;
    // top: 0;
    overflow: visible;
    align-self: flex-start;
    // min-height: calc(var(--v-size-view-h) - var(--v-size-16));
    // max-height: calc(var(--v-size-view-h) - var(--v-size-16));
    top: var(--v-size-16);

    font-weight: var(--v-font-weight-5);
}

@media (min-width: 1200px) {
    .v-sidebar {
        display: block;
    } 
}

[data-sidebar] {
    min-width: var(--v-size-xs-px);
    width: var(--v-size-xs-px);
    flex-shrink: var(--v-size-0);
    max-width: var(--v-size-512);
}

.v-sidebar__nav {
    display: grid;
    gap: var(--v-size-16);
}

.v-sidebar__container {
    width: var(--v-size-100-p);
    max-height: calc(var(--v-size-view-h) - var(--v-size-16));
    overflow-y: auto;
}

.v-sidebar__item {
    display: grid;
    gap: var(--v-size-16);
}

.v-sidebar__list .v-sidebar__list {
    padding-left: var(--v-size-16);
}

.v-sidebar__link {
    display: block;
    padding: var(--v-size-8);
}

.v-sidebar__link--active {
    color: var(--v-theme-brand);
    background: var(--v-theme-surface-2);
}

[data-btn-sidebar-resizer] > * {
    pointer-events: none !important;
}

[data-btn-sidebar-resizer] {
    position: absolute;
    top: var(--v-size-50-p);
    left: var(--v-size-100-p);
    transform: translate(calc(var(---v-size-50-p) + var(--v-size-1)), var(---v-size-50-p));
    border-radius: var(--v-size-4);
    height: var(--v-size-64);
    width: var(--v-size-32);
    display: grid;
    place-items: center;
    padding: var(--v-size-0);
    border: var(--v-size-0);
    cursor: col-resize;
}

.v-sidebar__btn-collapse-text {
    display: inline-flex;
    align-items: center;
}

.v-sidebar__btn-collapse-icon-left {
    flex-shrink: 0;
    margin-right: var(--v-size-16);
}

.v-sidebar__btn-collapse-icon-right {
    transition: transform 0.5s ease;
    transform: rotate(0);
}

.v-sidebar__btn-collapse[aria-expanded="true"] {
    color: var(--v-theme-brand);
}

.v-sidebar__btn-collapse[aria-expanded="true"]  .v-sidebar__btn-collapse-icon-right {
    transform: rotate(180deg);
}