:root {
    --v-size-0: 0;

    $i: 1;

    @while $i <= 1024 {
      --v-size-#{$i}: #{$i + 'px'};
      ---v-size-#{$i}: #{-$i + 'px'};
      $i: $i * 2; 
    }
    // TODO: Find better solution

    $i: 10;
    @while $i <= 100 {
      --v-size-#{$i}-p: #{$i + '%'};
      ---v-size-#{$i}-p: #{-$i + '%'};
      $i: $i + 10;
    }

    --v-size-view-w: 100vw;
    --v-size-view-h: 100vh;

    --v-size-xxs-px: 240px;
    --v-size-xs-px: 360px;
    --v-size-sm-px: 480px;
    --v-size-md-px: 768px;
    --v-size-lg-px: 1024px;
    --v-size-xl-px: 1440px;
    --v-size-xxl-px: 1920px;
}