@import "utils";

.v-tabs {

}

.v-tabs__header {
    // background: var(--#{$prefix}-theme-surface-3);
    // padding: var(--#{$prefix}-size-16);
    font-weight: var(--#{$prefix}-font-weight-5);  
    // max-width: 400px;
}

.v-tabs__btns {
    display: flex;
    overflow-x: auto;
}

.v-tabs__body {
    background: var(--#{$prefix}-theme-surface-2);
}

.v-tabs__panel {
    padding: var(--#{$prefix}-size-16);
}

.v-tabs__btns-item {
    // flex: 1;
    display: flex;
    flex-basis: var(--#{$prefix}-size-128);
    flex-shrink: 0;
}

.v-tabs__btn {
    background: var(--#{$prefix}-theme-surface-3);
    width: var(--#{$prefix}-size-100-p);
    padding: var(--#{$prefix}-size-16);
    border: 0;
    border-left: var(--#{$prefix}-size-16) solid var(--#{$prefix}-theme-surface-3);
}

.v-tabs__btn[aria-selected="true"] {
    // color: var(--#{$prefix}-theme-brand);
    background: var(--#{$prefix}-theme-surface-4);
    border-left: var(--#{$prefix}-size-16) solid var(--#{$prefix}-theme-text-1);
    // border-left: var(--#{$prefix}-size-16) solid var(--#{$prefix}-theme-brand);
}

[data-tabs-item] {
    display: none;
    transition: opacity 0.4s ease;
}

[data-tabs-item][data-tabs-item-active] {
    display: block;
}

[data-tabs-item]:not([data-tabs-item-showing]) {
    opacity: 0;
}