
.v-tabs {

}

.v-tabs__header {
    // background: var(--v-theme-surface-3);
    // padding: var(--v-size-16);
    font-weight: var(--v-font-weight-5);  
    // max-width: 400px;
}

.v-tabs__btns {
    display: flex;
    overflow-x: auto;
}

.v-tabs__body {
    background: var(--v-theme-surface-2);
}

.v-tabs__panel {
    padding: var(--v-size-16);
}

.v-tabs__btns-item {
    // flex: 1;
    display: flex;
    flex-basis: var(--v-size-128);
    flex-shrink: 0;
}

.v-tabs__btn {
    background: var(--v-theme-surface-4);
    width: var(--v-size-100-p);
    padding: var(--v-size-16);
    border: 0;
    border-bottom: var(--v-size-8) solid var(--v-theme-surface-4);
}

.v-tabs__btn[aria-selected="true"] {
    // color: var(--v-theme-brand);
    background: var(--v-theme-surface-3);
    border-bottom: var(--v-size-8) solid var(--v-theme-text-1);
    // border-left: var(--v-size-16) solid var(--v-theme-brand);
}

[data-tabs-item] {
    display: none;
    transition: opacity 0.4s ease;
}

[data-tabs-item][data-tabs-item-active] {
    display: block;
}

[data-tabs-item]:not([data-tabs-item-showing]) {
    opacity: 0;
}