@import "utils";

[data-tooltip-control] {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
} 

.v-tooltip {
    font-weight: var(--v-font-weight-5);
    padding: var(--v-size-8);
    border-radius: var(--v-size-4);
    background-color: var(--v-theme-surface-4);
}