@import "utils";
@import "colors";
@import "fonts";
@import "sizes";
@import "shadows";
@import "animations";

@import "normalize";
@import "reset";

@import "btns";

@import "logo";
@import "shell";
@import "sidebar";
@import "content";
@import "breadcrumbs";

@import "highlight";

@import "link";

img {
    max-width: 100%;
    height: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: var(--#{$prefix}-size-16);
    height: var(--#{$prefix}-size-16);
}

::-webkit-scrollbar-track {
    background-color: var(--#{$prefix}-gray-1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--#{$prefix}-gray-4);
}

html {
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    word-break: break-word;
}

body {
    font-family: var(--#{$prefix}-font-family-sans);
    line-height: var(--#{$prefix}-font-lineheight-2);
    color: var(--#{$prefix}-theme-text-1);
    background-color: var(--#{$prefix}-theme-surface-1);
}

h1 {
    font-size: var(--#{$prefix}-font-size-7);
    font-weight: var( --#{$prefix}-font-weight-7);
}

h2 {
    font-size: var(--#{$prefix}-font-size-5);
    font-weight: var( --#{$prefix}-font-weight-7);  
}

@import "selectbox";
@import "tabs";
@import "popover";
@import "alert";
@import "highlight";
@import "tooltip";
@import "collapse";
@import "tableofcontents";

// Forms
@import "forms";

.TIME_EXAMPLE {
    display: flex;
    align-items: flex-start;
}

.TIME_EXAMPLE .v_roulette {
    flex-grow: 1;
    flex-basis: calc(100%/3);
    margin-right: 8px;
}

.v_roulette-dialog {
    box-shadow: var(--shadow-3);
    background: var(--#{$prefix}-theme-surface-1);
    border: 0;
    // display: grid;

    padding: var(--#{$prefix}-size-8);
    // min-width: 64px;
    // max-width: 256px;
    overflow: auto;
    max-height: var(--#{$prefix}-size-256);
}

.v_roulette-dialog__dialog-container {
    display: grid;
    gap: var(--#{$prefix}-size-8);
}

.v_roulette__body::-webkit-scrollbar {
    display: none !important;
}

.v_roulette__body {
    font-size: 14px;
    max-height: 135px;
    overflow-y: scroll;
    scroll-snap-type: y proximity;

    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}

.v_roulette button {
    // width: 100%;
    background: transparent;
    padding: 10px;
    border: 0;
    background: var(--#{$prefix}-theme-surface-1);
}