<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основная страница Voltage</title>
    <script type="text/javascript">
      window.location.href = "./docs";
    </script>
  </head>
  <body>
    Данная страница находится в разработке, для просмотра текущей документации
    перейдите по ссылке: <a href="./docs">текущая версия документации</a>
  </body>
</html>
